.bungkus {margin:30px auto;border-radius:4px;border:1px solid #ddd;width:80%;background:#fff;box-shadow:0 0 7px #777;}

ion-content {
    --background:none;
    background-image:url('/assets/img/bg.jpg');
    background-size: cover;
}