<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        KATEGORI
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="padding has-header">
  <ion-list>
    <ion-item >
      Pakaian
    </ion-item>
    <ion-item>
      Handphone & Tablet
    </ion-item>
    <ion-item>
      Laptop & Aksesoris
    </ion-item>
    <ion-item>
      Komputer & Aksesoris
    </ion-item>
    <ion-item>
      fashion & Aksesoris
    </ion-item>
  </ion-list>
</ion-content>